

.floating-label-form-group {
  margin-bottom: 0;
  position: relative;
  padding-bottom: 0.5em;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  background: none;
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  position: relative;
  top: 2em;
  opacity: 0;
  z-index: 0;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  margin: 0;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -ms-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}