@import "variables";
@import "mixins";

.scrollbar-track {
  width: 12px;
  background: rgba(0, 0, 0, 0);
  @include transition(background 250ms linear, width 100ms linear);
  &:hover, &.dragging {
    width: 16px;
    background: rgba(0, 0, 0, .15);
    .scrollbar-handle {
      width: 16px;
      background: rgba(0, 0, 0, .35);
    }
  }
  &.dragging .scrollbar-handle {
    cursor: url("../img/cursor/grabbing.png"), default;
  }
  .scrollbar-handle {
    width: 12px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, .3);
    cursor: url("../img/cursor/grab.png"), default;
    @include transition(background 250ms linear, width 100ms linear);
  }
}
