@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$icon-font-path: "../vendor/bootstrap-sass/assets/fonts/bootstrap/";

$verde:       #2aaa73;
$verde-medio: #49b787;//#54bf90;
$verde-claro: #6ac49a;//#76cca5;//#83d1ae;

$rojo: #ea5348;