@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "variables";
@import "mixins";
@import "floating-labels";

html {
  width:     100%;
  height:    100%;
  background: #fff;
  position: relative;
}

body {
  width:  100%;
  height: 100%;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size:   16px;
  position: relative;
}

h1, h2 {
  font-weight: 100;
}

h3, h4 {
  font-weight: 300;
}

h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 20px;
  color: #999;
}

p {
  line-height: 150%;
}

sup {
  font-size: 60%;
}

.modal {
  z-index: 11000;
  button.close {
    text-shadow: none;
  }
  .panel-success {
    button.close {
      color: $state-success-text;
    }
  }
  .panel-danger {
    button.close {
      color: $state-danger-text;
    }
  }
}

.modal-dialog {
  margin: 80px auto;
}

.modal-content {
  @include border-radius(0);
  @include box-shadow(none);
  border: 0;
  &.success {
    background: $verde-medio;
    color: #fff;
  }
  &.error {
    background: $rojo;
    color: #fff;
  }
}

.modal-header {
  border-bottom: 0;
  h4 {
    color: inherit;
    font-weight: 500;
    font-size: 28px;
  }
}

.modal-body {
  font-size: 18px;
  padding: 0 15px;
}

.modal-backdrop {
  z-index: 10000;
}

.emphasized {
  text-align: center;
  margin: 0 auto;
  padding: 150px 0;
  position: relative;
  h3 {
    font-size: 52px;
    font-weight: 100;
  }
  p {
    font-size: 28px;
    font-weight: 100;
  }
  a.block {
    display: inline-block;
    background: rgba(0, 0, 0, .3);
    padding: 0 25px;
    color: #fff;
    text-decoration: none;
    font-size: 60%;
    text-transform: uppercase;
    @include transition(background 100ms linear);
    &:hover {
      background: rgba(0, 0, 0, .5);
    }
  }
}

#video {
  @include ratio-16_9();
  background-color: $verde;
  padding: 0;
  .preview {
    width: 100%;
    opacity: 0.18;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;
    h1 {
      position: absolute;
      right: -110px;
      bottom: -130px;
      width: 220px;
      height: 260px;
      body.lang-es & {
        background: url("../img/logo-es.png") no-repeat center center;
        @include background-size-cover();
      }
      body.lang-en & {
        background: url("../img/logo-en.png") no-repeat center center;
        @include background-size-cover();
      }
    }
  }
  .play-video {
    width: 180px;
    position: absolute;
    left: 50%;
    bottom: 20%;
    a {
      display: block;
      width: 180px;
      height: 42px;
      line-height: 46px;
      position: relative;
      left: -50%;
      font-size: 16px;
      font-weight: 300;
      padding-left: 20px;
      color: #fff;
      background: rgba(0, 0, 0, .3);
      @include transition(background 200ms linear);
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, .5);
        @include transition(background 200ms linear);
      }
      span {
        @include animation(bounce-horizontal 1s infinite linear);
        color: $verde;
        position: absolute;
        top: 10px;
        left: 35px;
        font-size: 20px;
        @include keyframes(bounce-horizontal) {
          from {
            @include transform(translateX(0px));
          }
          50% {
            @include transform(translateX(-5px));
          }
          to {
            @include transform(translateX(0px));
          }
        }
      }
    }
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    iframe, video, .video-js {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  .banner {
    position: absolute;
    top: 72px;
    right: 0;
    background-color: #ea5348;
    height: 82px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.5);
    @include animation(slideIn 0.45s ease-out 50ms 1);
    @include keyframes(slideIn) {
      0% {
        @include transform(translateX(110%));
      }
      100% {
        @include transform(translateX(0));
      }
    }
    &::before {
      content: '';
      position: absolute;
      left: -30px;
      width: 0;
      height: 0;
      border-top: 82px solid #ea5348;
      border-left: 30px solid transparent;
    }
    p {
      margin-bottom: 0;
    }
    a {
      color: inherit;
      display: block;
      text-align: right;
      font-weight: 500;
      padding: 15px 20px 15px 10px;
      &:hover, &:focus {
        text-decoration: none;
      }
      span {
        font-weight: 300;
        color: #ffcbc4;
      }
    }
  }
}

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 56.25% 0 0;
  border: 0;
  z-index: 10000;
  body.fixed-nav & {
    position: fixed;
    top: 0;
    margin: 0;
  }
  body.modal-open & {
    padding-right: 17px;
  }
  .container {
    position: relative;
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 0;
    width: 150px;
    height: 50px;
    background: url("../img/logo-nav.png") no-repeat center center;
    @include background-size-cover();
    opacity: 0;
    @include transition(top 100ms linear, opacity 100ms linear);
    body.fixed-nav & {
      top: 0;
      opacity: 1;
    }
  }
  .dropdown-menu {
    min-width: 330px;
    padding: 15px 10px 10px 10px;
    margin-top: 10px;
    &::before {
      content: '';
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #ffffff;
      position: absolute;
      top: -8px;
      right: 28px;
    }
    .form-group {
      margin-bottom: 8px;
      input {
        position: relative;
        margin-top: -1px;
        border-radius: 0;
        &:first-of-type {
          @include border-top-radius($border-radius-base);
          margin-top: 0;
        }
        &:last-of-type {
          @include border-bottom-radius($border-radius-base);
        }
        &:focus {
          z-index: 10;
        }
      }
    }
    p {
      margin-bottom: 7px;
    }
    .text-danger {
      padding-top: 3px;
      margin-bottom: 12px;
    }
    .text-hidden {
      left: -99999px;
      position: relative;
      overflow: hidden;
    }
  }
  .language {
    position: absolute;
    top: 36px;
    right: 0;
    @include transition(top 100ms linear);
    body.fixed-nav & {
      top: 16px;
    }
    a {
      color: #999;
      @include transition(color 100ms linear);
      &:hover {
        color: #666;
        text-decoration: none;
        .flag {
          opacity: 1;
        }
      }
      &:active {
        color: #999;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
      &.acceder {
        margin-right: 12px;
        font-size: 14px;
      }
      .flag {
        opacity: .7;
        display: inline-block;
        width: 16px;
        height: 11px;
        @include transition(opacity 100ms linear);
        &.es {
          background: url("../img/es.png") no-repeat center center;
        }
        &.en {
          background: url("../img/gb.png") no-repeat center center;
        }
      }
    }
  }
  .nav.navbar-nav {
    display: table;
    table-layout: fixed;
    float: none;
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
    > li > a {
      display: block;
      height: 90px;
      padding-top: 38px;
      font-weight: 500;
      outline: none;
      @include transition(background 200ms linear, color 200ms linear, padding 100ms linear, height 100ms linear);
      body.fixed-nav & {
        height: 50px;
        padding-top: 16px;
        &:active {
          padding-top: 18px;
        }
      }
      &:hover, &.active {
        background: #333;
        color: #fff;
      }
      &:active {
        padding-top: 40px;
        @include transition(padding 50ms linear);
      }
    }
  }
}

#resumen {
  background: #fff;
  padding: 90px 0 0;
  @include transition(padding-top 100ms linear);
  body.fixed-nav & {
    padding-top: 50px;
  }
  .summary {
    margin-bottom: 220px;
    .intro {
      font-size: 22px;
      padding: 0 0 60px;
      .container {
        padding: 0 50px;
      }
      h3 {
        color: #0f965b;
        font-size: 28px;
      }
      img {
        margin-right: 50px;
      }
    }
    .stripe-bg {
      background: $verde-claro;
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        background: $verde;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
      }
      .container {
        position: relative;
        z-index: 3;
      }
      .row {
        position: relative;
        z-index: 4;
        > div {
          position: relative;
          padding: 15px 0;
          height: 228px;
          z-index: 5;
          background: $verde-medio;
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            border-left: 25px solid black;
            border-top: 114px solid transparent;
            border-bottom: 114px solid transparent;
          }
          &:before {
            left: -12px;
            border-left-color: $verde-claro;
            border-top-color: $verde-medio;
            border-bottom-color: $verde-medio;
            z-index: 1000;
          }
          &:after {
            right: -13px;
            border-left-color: $verde-medio;
            border-top-color: $verde;
            border-bottom-color: $verde;
            z-index: 2000;
          }
        }
      }
    }
    .copy {
      position: relative;
      z-index: 1000;
      @media(min-width: $screen-md-min) {
        top: -213px;
        margin-bottom: -200px;
      }
      @media(max-width: $screen-sm-max) {
        width: 100%;
        padding: 0;
      }
      text-align: center;
      .row > div {
        @media(max-width: $screen-sm-max) {
          padding: 40px 25%;
          color: #fff;
          &.stations {
            background: $verde-claro;
          }
          &.cloud {
            background: $verde-medio;
          }
          &.apps {
            background: $verde;
          }
        }
      }
      img {
        display: block;
        margin: 0 auto;
        @media(min-width: $screen-md-min) {
          margin: 0 auto 40px;
        }
      }
    }
  }
  .tracking {
    padding: 0 0 20px;
    .magnifying {
      padding-top: 185px;
      padding-bottom: 200px;
      margin-top: 120px;
      margin-bottom: 100px;
      background: #fff url("/img/magnifying.png") no-repeat center;
    }
    .functionality {
      .row {
        > div {
          padding-bottom: 80px;
        }
        img {
          margin: 0 20px 0 0;
        }
        & > div:last-of-type {
          text-align: right;
          img {
            margin: 0 0 0 20px;
          }
        }
      }
    }
    .features {
      .row {
        padding: 0 0 50px;
        > div {
          padding-bottom: 80px;
        }
      }
    }
  }
  .benefits {
    padding: 0 0 80px;
    background: #eee;
    .row {
      > div {
        padding-bottom: 80px;
      }
    }
  }
  .numbers {
    background: #5b99e5;
    color: #c8ddf7;
    font-size: 22px;
    font-weight: 300;
    .counter {
      display: block;
      font-size: 82px;
      line-height: 82px;
      color: #fff;
      font-weight: 100;
    }
    .row {
      .cell {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
      }
    }
    .data-counter {
      .cell {
        padding-top: 50px;
      }
    }
    .numbers {
      .cell {
        padding-bottom: 50px;
        @include transition(background 100ms linear);
        @media(min-width: $screen-md-min) {
          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -25px;
            border-top: 25px solid #5b99e5;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            @include transition(bottom 100ms linear, border-color 100ms linear);
          }
          &:hover, &.hover {
            position: relative;
            background: #447bbf;
            &:after {
              border-top-color: #447bbf;
              bottom: -25px;
            }
          }
        }
      }
    }
  }
  .lists {
    padding-bottom: 50px;
    background: #eee;
    @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
      font-size: 14px;
    }
    .row > div {
      padding-top: 30px;
    }
    .emphasized {
      a.block {
        font-weight: 300;
        background: #5b99e5;
        &:hover {
          background: #447bbf;
        }
      }
    }
    .well {
      margin: 5px 0;
      border: 0;
      border-bottom: 1px solid #ddd;
      background: #fff;
      @include border-radius(0);
    }
    .list-group {
      margin-bottom: 0;
      .list-group-item {
        padding: 15px;
        margin: 5px 0;
        border: 0;
        border-bottom: 1px solid #ddd;
        @include transition(background 100ms linear, color 100ms linear, border-color 100ms linear);
        &:hover {
          background: #5b99e5;
          color: #fff;
          border-color: #447bbf;
        }
        &:first-child {
          @include border-radius(0);
        }
        &:last-child {
          @include border-radius(0);
        }
      }
    }
  }
  .interviews {
    background: $rojo;
    margin-bottom: 60px;
    .container {
      margin-top: -0.7px;
      padding: 0;
      @media(max-width: $screen-sm-max) {
        padding: 20px 0 60px;
      }
      .copy {
        padding: 12px 35px;
        color: #a02b19;
        h3 {
          font-size: 28px;
          margin-bottom: 5px;
          font-weight: 300;
          color: #fff;
        }
        p {
          font-size: 16px;
          line-height: 150%;
          margin-bottom: 15px;
          &.tagline {
            color: #ffcbc4;
            font-weight: 300;
            font-size: 18px;
          }
        }
        @media (min-width: $screen-lg-min) {
          h3 {
            font-size: 33px;
          }
          p {
            font-size: 18px;
            &.tagline {
              font-size: 22px;
            }
          }
        }
        @media(max-width: $screen-sm-max) {
          h3 {
            font-size: 33px;
          }
          p {
            font-size: 18px;
            &.tagline {
              font-size: 22px;
            }
          }
        }
        strong {
          font-weight: 500;
        }
      }
      .video {
        @include ratio-16_9();
        iframe, video, .video-js {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
        .poster {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: $rojo url("../img/interviews-poster.jpg") no-repeat center center;
          @include background-size-cover();
          opacity: .65;
          cursor: pointer;
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            .play-sign {
              position: absolute;
              top: 50%;
              left: 50%;
              span {
                display: block;
                position: relative;
                top: -50px;
                left: -50px;
                width: 100px;
                height: 100px;
                padding: 0 0 0 18px;
                @include border-radius(50px);
                border: 10px solid #fff;
                line-height: 80px;
                font-size: 50px;
                font-weight: normal;
                color: #fff;
                @include animation(bounce-scale 1200ms infinite linear);
                @include keyframes(bounce-scale) {
                  from {
                    @include transform(scale(1, 1));
                  }
                  50% {
                    @include transform(scale(.95, .95));
                  }
                  to {
                    @include transform(scale(1, 1));
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .station-vineyard {
    padding-left: 0;
    padding-right: 0;
    img {
      width: 100%;
    }
  }
}
#clientes {
  padding-left: 0;
  padding-right: 0;
  .linea.emphasized {
    padding: 0;
  }
  .grupo {
    margin-right: 0 !important;
  }
  .row {
    text-align: center;
    .bodega {
      margin-top: 35px;
      display: inline-block;
      float: none;
      text-align: left;
      margin-right: -4px;
    }
  }
  .bodega {
    max-width: 300px;
    img {
      padding: 15px 30px;
    }
  }
  @media (min-width: $screen-md-min) {
    .lSSlideOuter {
      .lSPager.lSpg {
        margin-top: 0 !important;
        padding-top: 10px;
        padding-bottom: 15px;
      }
    }
  }
  .lSAction > a {
    background-image: url('../img/slider-controls.png');
  }
}
#app {
  background-color: #eee;
  font-size: 22px;
  .emphasized {
    a.block {
      font-weight: 300;
      background-color: #5b99e5;
      &:hover {
        background-color: #447bbf;
      }
    }
  }
  .features {
    margin: 80px 0;
    font-size: 18px;
    img {
      margin-bottom: 20px;
      width: 120px;
    }
  }
  .verde {
    background-color: $verde;
    color: #fff;
    font-size: 18px;
    margin-top: 45px;
    p {
      margin-bottom: 4px;
    }
    ul {
      margin-top: 6px;
      @media (min-width: $screen-md-min) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }
    img.mapa {
      margin-top: -130px;
      margin-bottom: -60px;
      max-width: 320px;
      @media (max-width: $screen-sm-max) {
        float: right;
        margin-bottom: -45px;
      }
    }
  }
  .aplicacion {
    p {
      font-size: 22px;
      &.titulo {
        font-size: 28px;
        margin: 40px 0 20px 0;
      }
      &.boton {
        font-size: 28px;
      }
    }
    img {
      width: 300px;
      margin: 35px auto;
    }
    .disponible-en {
      a:hover {
        text-decoration: none;
      }
      img {
        width: auto;
        height: 40px;
        margin: 0 3px;
      }
    }
  }
}
#contacto {
  padding-bottom: 150px;
  form {
    width: 75%;
    margin: -100px auto 0;
    padding: 50px;
    .row > div {
      margin-bottom: 0;
    }
    .form-group {
      padding-bottom: 50px;
      margin-bottom: 0;
      &.has-error {
        label {
          color: $rojo;
        }
        .form-control {
          border-color: $rojo;
          color: $rojo;
          @include placeholder() {
            color: $rojo;
          }
        }
      }
      label {
        color: #999;
        font-weight: 300;
        font-size: 22px;
        padding-left: 10px;
      }
      .form-control {
        font-size: 22px;
        background: transparent;
        border: 0;
        border-bottom: 1px dashed #999;
        padding: 6px 12px;
        height: 50px;
        line-height: normal;
        font-weight: 300;
        @include box-shadow(none);
        @include border-radius(0);
        @include placeholder() {
          color: #999;
        }
        &:active {
          @include box-shadow(none);
          border: 0;
          border-bottom: 1px dashed #787e8c;
        }
      }
      textarea.form-control {
        resize: vertical;
        height: 160px;
        min-height: 125px;
      }
    }
    .buttons {
      text-align: right;
      button {
        display: inline-block;
        padding: 6px 12px;
        border: 0;
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        line-height: normal;
        min-width: 150px;
        text-transform: uppercase;
        @include border-radius(0);
        background: $verde-medio;
        @include transition(background 200ms linear);
        &:hover {
          background: $verde;
        }
      }
    }
  }
}

#footer {
  background: #3a3d3f;
  color: #d0d4d6;
  .credits {
    color: #a3a7aa;
    padding: 100px 0;
    text-align: center;
    .encore-logo {
      opacity: .5;
      @include transition(opacity 300ms linear);
      &:hover {
        opacity: 1;
      }
    }
    .copyright {
      font-size: 12px;
    }
  }
}
