<?php

$this->setLayout(__DIR__ . '/layout.phtml');

$this->title = 'Cesens® - Condiciones de uso';

?>
<div class="container-fluid">
    <h1 class="text-center">AVISO LEGAL Y CONDICIONES GENERALES DE USO DE Cesens®<br><strong>ENCORE-LAB</strong></h1>

    <h2>Información general</h2>
    <p>En cumplimiento con el deber de información dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Información y el Comercio Electrónico (LSSI-CE) de 11 de julio, se facilitan a continuación los siguientes datos de información general de este sitio web/APP:</p>
    <p>La titularidad de este sitio web/APP (en adelante Cesens®) corresponde a <strong>ENCORE-LAB</strong> y la ostenta: Sonia Belmonte con NIF: 16592398Z y cuyos datos de contacto son:</p>
    <p>Sonia Belmonte<br>
        Encore Lab, S.L.<br>
        Av. Zaragoza 18 - 1º Oficina 2<br>
        26006 Logroño (La Rioja) ESPAÑA<br>
        sonia@encore-lab.com</p>

    <h2>Términos y condiciones generales de uso</h2>

    <h3>El objeto de las condiciones: Cesens®</h3>
    <p>El objeto de las presentes Condiciones Generales de Uso (en adelante Condiciones) es regular el acceso y la utilización de Cesens®. A los efectos de las presentes Condiciones se entenderá como Cesens®:</p>
    <p>La apariencia externa de los interfaces de pantalla, tanto de forma estática como de forma dinámica, es decir, el árbol de navegación; y todos los elementos integrados tanto en los interfaces de pantalla como en el árbol de navegación (en adelante Contenidos) y todos aquellos servicios o recursos en línea que en su caso ofrezca a los Usuarios (en adelante Servicios).</p>
    <p><strong>ENCORE-LAB</strong> se reserva la facultad de modificar, en cualquier momento, y sin aviso previo, la presentación y configuración de Cesens® y de los Contenidos y Servicios que en el pudieran estar incorporados. El Usuario reconoce y acepta que en cualquier momento <strong>ENCORE-LAB</strong> pueda interrumpir, desactivar y/o cancelar cualquiera de estos elementos que se integran en Cesens® o el acceso a los mismos.</p>
    <p>La utilización de alguno de los Contenidos o Servicios de Cesens® podrá hacerse mediante la suscripción o registro previo del Usuario.</p>

    <h3>El usuario</h3>
    <p>El acceso, la navegación y el uso de Cesens® confiere la condición de Usuario, por lo que se aceptan, desde que se inicia la navegación por Cesens®, todas las Condiciones aquí establecidas, así como sus ulteriores modificaciones, sin perjuicio de la aplicación de la correspondiente normativa legal de obligado cumplimiento según el caso. Dada la relevancia de lo anterior, se recomienda al Usuario leerlas cada vez que visite Cesens®.</p>
    <p>Cesens® de <strong>ENCORE-LAB</strong> proporciona gran diversidad de información, servicios y datos. El Usuario asume su responsabilidad para realizar un uso correcto de Cesens®. Esta responsabilidad se extenderá a:</p>
    <ul>
        <li>Un uso de la información, Contenidos y/o Servicios y datos ofrecidos por <strong>ENCORE-LAB</strong> sin que sea contrario a lo dispuesto por las presentes Condiciones, la Ley, la moral o el orden público, o que de cualquier otro modo puedan suponer lesión de los derechos de terceros o del mismo funcionamiento de Cesens®.</li>
        <li>La veracidad y licitud de las informaciones aportadas por el Usuario en los formularios extendidos por <strong>ENCORE-LAB</strong> para el acceso a ciertos Contenidos o Servicios ofrecidos por Cesens®. En todo caso, el Usuario notificará de forma inmediata a <strong>ENCORE-LAB</strong> acerca de cualquier hecho que permita el uso indebido de la información registrada en dichos formularios, tales como, pero no sólo, el robo, extravío, o el acceso no autorizado a identificadores y/o contraseñas, con el fin de proceder a su inmediata cancelación.</li>
    </ul>
    <p><strong>ENCORE-LAB</strong> se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren la ley, el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, pornográficos, spamming, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación.</p>
    <p>En cualquier caso, <strong>ENCORE-LAB</strong> no será responsable de las opiniones vertidas por los Usuarios a través de comentarios y otras herramientas de blogging o de participación que pueda haber.</p>
    <p>Cesens® está dirigido principalmente a Usuarios residentes en España, <strong>ENCORE-LAB</strong> no asegura que Cesens® cumpla con legislaciones de otros países, ya sea total o parcialmente. Si el Usuario reside o tiene su domicilio en otro lugar y decide acceder y/o navegar en Cesens® lo hará bajo su propia responsabilidad, deberá asegurarse de que tal acceso y navegación cumple con la legislación local que le es aplicable, no asumiendo <strong>ENCORE-LAB</strong> responsabilidad alguna que se pueda derivar de dicho acceso.</p>

    <h3>ACCESO Y NAVEGACIÓN EN Cesens®: EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h3>
    <p><strong>ENCORE-LAB</strong> no garantiza la continuidad, disponibilidad y utilidad de Cesens®, ni de los Contenidos o Servicios. <strong>ENCORE-LAB</strong> hará todo lo posible por el buen funcionamiento de Cesens®, sin embargo, no se responsabiliza ni garantiza que el acceso a Cesens® no vaya a ser ininterrumpido o que esté libre de error.</p>
    <p><strong>ENCORE-LAB</strong> tampoco se hace responsable de los daños que pudiesen ocasionarse a los usuarios por un uso inadecuado de Cesens®. En particular, no se hace responsable en modo alguno de las caídas, interrupciones, falta o defecto de las telecomunicaciones, que pudieran ocurrir.</p>

    <h3>POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS</h3>
    <p><strong>ENCORE-LAB</strong> se compromete a adoptar las medidas técnicas y organizativas necesarias, según el nivel de seguridad de los datos recabados, de forma que garanticen la seguridad de los datos de carácter personal y eviten su alteración, pérdida, tratamiento o acceso no autorizado.</p>
    <p>Conforme a lo previsto en el artículo 5 de la LOPD, se informa al Usuario que los datos personales recabados por <strong>ENCORE-LAB</strong>, mediante los formularios extendidos en sus páginas, serán introducidos en un fichero automatizado bajo la responsabilidad de <strong>ENCORE-LAB</strong>, y debidamente declarado e inscrito en el Registro General de la Agencia de Protección de Datos, con la finalidad de poder facilitar, agilizar y cumplir los compromisos establecidos entre ambas partes o el mantenimiento de la relación que se establezca en los formularios que suscriba o para atender una solicitud o consulta.</p>
    <p>Mientras el Usuario no comunique lo contrario a <strong>ENCORE-LAB</strong>, se entenderá que sus datos no han sido modificados, que el Usuario se compromete a notificar cualquier variación y que tiene el consentimiento para utilizarlos para las finalidades determinadas, explícitas y legítimas para las que se hayan obtenido. Pudiendo incluso ser, además, utilizados con una finalidad comercial de personalización, operativa y estadística, ya actividades propias de su objeto social, autorizando expresamente a <strong>ENCORE-LAB</strong> para la extracción, almacenamiento de datos y estudios de marketing para adecuar el Contenido ofertado al Usuario, y así mejorar la calidad, funcionamiento y navegación por Cesens®.</p>
    <p>En ocasiones en las que el Usuario pudiera facilitar sus datos a través de formularios, con el objeto de realizar consultas, solicitar información y/o por motivos relacionados con el Contenido ofrecido en Cesens®, si los datos que facilitara el Usuario fueran imprescindibles para el correcto desarrollo de todo esto, se informará de ello al Usuario indicándole que son datos cuya cumplimentación es de carácter obligatorio.</p>
    <p>En caso de no autorizar el tratamiento de sus datos con la finalidad señalada en los párrafos anteriores, el Usuario podrá ejercer sus derechos de información-acceso, rectificación, cancelación y oposición (Derechos ARCO) de los que dispone y que pueden ser ejercitados ante <strong>ENCORE-LAB</strong> . Para ello, debe tener en cuenta las siguientes connotaciones:</p>
    <ul>
        <li>Derecho de Acceso: Es el derecho del Usuario a obtener información sobre sus datos concretos de carácter personal y del tratamiento que <strong>ENCORE-LAB</strong> haya realizado o realice, así como de la información disponible sobre el origen de dichos datos y las comunicaciones realizadas o previstas de los mismos.</li>
        <li>Derechos de Rectificación: Es el derecho de Usuario a que se modifiquen los datos que, estando dentro del fichero automatizado, resulten inexactos o incompletos.</li>
        <li>Derechos de Cancelación: Es el derecho a suprimir los datos de carácter personal del Usuario, a excepción de lo previsto en otras leyes aplicables que determinen la obligatoriedad de la conservación de los mismos en tiempo y forma.</li>
        <li>Derechos de Oposición: Es el derecho del Usuario a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese el tratamiento de los mismos por parte de <strong>ENCORE-LAB</strong>.</li>
    </ul>
    <p>Así pues, el Usuario podrá ejercitar sus derechos mediante comunicación escrita dirigida a <strong>ENCORE-LAB</strong> con la referencia “LOPD- <strong>ENCORE-LAB</strong>”, especificando:</p>
    <ul>
        <li>Nombre, apellidos del Usuario y copia del DNI. En los casos en que se admita la representación, será también necesaria la identificación por el mismo medio de la persona que representa al Usuario, así como el documento acreditativo de la representación. La fotocopia del DNI podrá ser sustituida, por cualquier otro medio válido en derecho que acredite la identidad.</li>
        <li>Petición con los motivos específicos de la solicitud o información a la que se quiere acceder</li>
        <li>Domicilio a efectos de notificaciones</li>
        <li>Fecha y firma del solicitante</li>
        <li>Todo documento que acredite la petición que formula</li>
    </ul>
    <p>El Usuario deberá utilizar un método de envío que permita acreditar el envío y la recepción de la solicitud.</p>
    <p>Esta solicitud y todo otro documento adjunto deberá enviarse a la siguiente dirección y/o correo electrónico:</p>
    <p>Sonia Belmonte<br>
        Encore Lab, S.L.<br>
        Av. Zaragoza 18 - 1º Oficina 2<br>
        26006 Logroño (La Rioja) ESPAÑA<br>
        sonia@encore-lab.com</p>
    <p><strong>ENCORE-LAB</strong> a través de Cesens® recopila información de las siguientes formas:</p>
    <ul>
        <li>Información personal proporcionada por el Usuario</li>
        <li>Información derivada del uso que hace el Usuario de Cesens®</li>
        <li>Información del dispositivo que utiliza el Usuario para acceder a Cesens®</li>
        <li>Cookies y tecnologías similares</li>
        <li>Datos sobre la ubicación física del Usuario</li>
    </ul>
    <p><strong>ENCORE-LAB</strong> utiliza la información recogida para mantener, proteger y mejorar los Servicios ofrecidos por Cesens® y para desarrollar nuevas funcionalidades. También la usa para ofrecer contenido personalizado, como por ejemplo resultados de búsqueda y anuncios más relevantes. </p>
    <p><strong>ENCORE-LAB</strong> guarda un registro de cada sesión de Usuario para poder resolver más fácilmente cualquier incidencia que se haya producido. <strong>ENCORE-LAB</strong> puede utilizar la dirección de correo electrónico del Usuario para enviarle información acerca de los servicios ofrecidos, incluyendo información sobre próximos cambios o mejoras.</p>
    <p><strong>ENCORE-LAB</strong> utiliza la información que se recoge de cookies y otras tecnologías, como las etiquetas de píxeles, para mejorar la experiencia del Usuario y la calidad general de los servicios ofrecidos. </p>
    <p><strong>ENCORE-LAB</strong> pedirá el consentimiento del Usuario antes de utilizar sus datos para cualquier fin distinto de los establecidos en la presente Política de privacidad. </p>
    <p><strong>ENCORE-LAB</strong> se reserva el derecho a modificar su Política de Privacidad, de acuerdo a su propio criterio, o motivado por un cambio legislativo, jurisprudencial o doctrinal de la Agencia Española de Protección de Datos. El uso de la Web después de dichos cambios, implicará la aceptación de los mismos.</p>
    <p>Si <strong>ENCORE-LAB</strong> participa en una fusión, adquisición o venta de activos, se asegurará de mantener la confidencialidad de los datos personales e informará a los usuarios afectados antes de que sus datos personales sean transferidos o pasen a estar sujetos a una política de privacidad diferente.</p>

    <h3>GESTION DE LA CUENTA DEL USUARIO: ADMINISTRADOR DE DOMINIO</h3>
    <p>La cuenta del Usuario y sus datos asociados son gestionadas por un administrador de dominio. El administrador de dominio podrá:</p>
    <ul>
        <li>visualizar datos estadísticos acerca del uso de la cuenta</li>
        <li>cambiar la contraseña</li>
        <li>suspender o cancelar el acceso a la cuenta</li>
        <li>acceder a datos almacenados en relación con la cuenta o conservar dichos datos,</li>
        <li>obtener información de la cuenta para cumplir cualquier requisito previsto en la legislación o normativa aplicables o para atender cualquier requerimiento de un órgano administrativo o judicial,</li>
        <li>limitar la capacidad del Usuario para eliminar o editar los datos o los ajustes de privacidad. </li>
    </ul>

    <h3>Política de software</h3>
    <p>El software de Cesens® es parte de la propiedad intelectual de <strong>ENCORE-LAB</strong>. Es el único titular de todas las patentes, derechos de autor, derechos de propiedad industrial, marcas y otros derechos de propiedad intelectual derivados de dicho software y todos sus derechos pertenecen a <strong>ENCORE-LAB</strong>.</p>
    <p>El Usuario final no está autorizado a:</p>
    <ul>
        <li>copiar, reproducir, distribuir o reproducir de ninguna otra manera el software o partes del mismo, excepto para fines de archivo de recuperación de datos</li>
        <li>vender, prestar, arrendar, licenciar, sub licenciar, distribuir, ceder, transferir o traspasar de otra forma el software o parte de este a un tercero</li>
        <li>modificar o traspasar el software o utilizarlo con fines de desarrollo propios</li>
        <li>combinar o fusionar el software con otro software, descompilar el software de ninguna manera, desmontar, realizar ingeniería inversa del software o de otro modo con la intención de tratar de deducir, identificar o conocer el código fuente, los algoritmos o la propiedad intelectual contenida en el mismo</li>
        <li>hacer uso de las soluciones técnicas contenidas en el software para otros fines.</li>
    </ul>
    <p>El uso del SW es gratuito o de pago según el tipo de versión utilizada de Cesens®. La versión gratuita no tiene garantía de mantenimiento.</p>

    <h3>Política de enlaces</h3>
    <p>Se informa que Cesens® de <strong>ENCORE-LAB</strong> pone o puede poner a disposición de los Usuarios medios de enlace (como, entre otros, links, banners, botones), directorios y motores de búsqueda que permiten a los Usuarios acceder a sitios web pertenecientes y/o gestionados por terceros.</p>
    <p><strong>ENCORE-LAB</strong> no ofrece ni comercializa por si ni por medio de terceros los productos y/o servicios disponibles en dichos sitios enlazados.</p>
    <p>Asimismo, tampoco garantizará la disponibilidad técnica, exactitud, veracidad, validez o legalidad de sitios ajenos a su propiedad a los que se pueda acceder por medio de los enlaces.</p>
    <p><strong>ENCORE-LAB</strong> en ningún caso revisará o controlará el contenido de otros sitios web, así como tampoco aprueba, examina ni hace propios los productos y servicios, contenidos, archivos y cualquier otro material existente en los referidos sitios enlazados</p>
    <p><strong>ENCORE-LAB</strong> no asume ninguna responsabilidad por los daños y perjuicios que pudieran producirse por el acceso, uso, calidad o licitud de los contenidos, comunicaciones, opiniones, productos y servicios de los sitios web no gestionados por <strong>ENCORE-LAB</strong> y que sean enlazados desde Cesens®.</p>
    <p>El Usuario o tercero que realice un hipervínculo desde una página web de otro a Cesens® de <strong>ENCORE-LAB</strong> deberá saber que:</p>
    <p>No se permite la reproducción -total o parcialmente- de ninguno de los Contenidos y/o Servicios de Cesens® sin autorización expresa de <strong>ENCORE-LAB</strong></p>
    <p>No se permite tampoco ninguna manifestación falsa, inexacta o incorrecta sobre Cesens® de <strong>ENCORE-LAB</strong> , ni sobre los Contenidos y/o Servicios del mismo.</p>
    <p>A excepción del hipervínculo, el sitio web en el que se establezca dicho hiperenlace no contendrá ningún elemento, de Cesens®, protegido como propiedad intelectual por el ordenamiento jurídico español, salvo autorización expresa de <strong>ENCORE-LAB</strong> </p>
    <p>El establecimiento del hipervínculo no implicará la existencia de relaciones entre <strong>ENCORE-LAB</strong> y el titular del sitio web desde el cual se realice, ni el conocimiento y aceptación de <strong>ENCORE-LAB</strong> de los contenidos, servicios y/o actividades ofrecidos en dicho sitio web, y viceversa.</p>

    <h3>Propiedad intelectual e industrial</h3>
    <p><strong>ENCORE-LAB</strong> por si o como parte cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de Cesens®, así como de los elementos contenidos en el mismo (a título enunciativo y no exhaustivo, imágenes, sonido, audio, vídeo, software o textos, marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc…). Serán, por consiguiente, obras protegidas como propiedad intelectual por el ordenamiento jurídico español, siéndoles aplicables tanto la normativa española y comunitaria en este campo, como los tratados internacionales relativos a la materia y suscritos por España.</p>
    <p>Todos los derechos reservados. En virtud de lo dispuesto en la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de <strong>ENCORE-LAB</strong>.</p>
    <p>En caso de que el Usuario o tercero considere que cualquiera de los Contenidos de Cesens® suponga una violación de los derechos de protección de la propiedad intelectual, deberá comunicarlo inmediatamente a <strong>ENCORE-LAB</strong> a través de los datos de contacto del apartado de INFRMACIÓN GENERAL de este Aviso Legal y Condiciones Generales de Uso.</p>

    <h3>Acciones legales, legislación aplicable y jurisdicción</h3>
    <p><strong>ENCORE-LAB</strong> se reserva la facultad de presentar las acciones civiles o penales que considere necesarias por la utilización indebida de Cesens® y Contenidos, o por el incumplimiento de las presentes Condiciones.</p>
    <p>La relación entre el Usuario y <strong>ENCORE-LAB</strong> se regirá por la normativa vigente y de aplicación en el territorio español. De surgir cualquier controversia en relación a la interpretación y/o aplicación de estas Condiciones las partes someterán sus conflictos a la jurisdicción ordinaria sometiéndose a los jueces y tribunales que correspondan conforme a derecho.</p>
</div>