<?php

$this->setLayout(__DIR__ . '/layout.phtml');

$this->title = 'Cesens® / ' . $this->_('agricultura20');

$animacion = [
    'en' => 'https://player.vimeo.com/external/146895808.hd.mp4?s=5596169d9473e255700a3ec9eef749cf24693ea2&profile_id=174',
    'es' => 'https://player.vimeo.com/external/146634303.hd.mp4?s=da858d539962b892f9372f42b390c4e069957d50&profile_id=174',
];
$entrevistas = [
    'en' => 'https://player.vimeo.com/external/146897389.hd.mp4?s=717b0b08dee9e34127d75f6347ab139a83475f3a&profile_id=113',
    'es' => 'https://player.vimeo.com/external/145982234.hd.mp4?s=333a0b282af311f01c847ca51bf28a35ee839b8c&profile_id=113',
];
$urlApp = function ($path) {
    return '//app.cesens.com' . $path;
};

?>
<div id="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="logo"></div>
        <ul class="nav navbar-nav">
            <li><a href="#video"><?php echo $this->_('menu.video'); ?></a></li>
            <li><a href="#resumen"><?php echo $this->_('menu.resumen'); ?></a></li>
            <li><a href="#funciones"><?php echo $this->_('menu.funciones'); ?></a></li>
            <li><a href="#beneficios"><?php echo $this->_('menu.beneficios'); ?></a></li>
            <li><a href="#datos"><?php echo $this->_('menu.datos'); ?></a></li>
            <li><a href="#clientes"><?php echo $this->_('menu.clientes'); ?></a></li>
            <li><a href="#app"><?php echo $this->_('menu.app'); ?></a></li>
            <li><a href="#contacto"><?php echo $this->_('menu.contacto'); ?></a></li>
            <li><a href="/blog/<?php echo $this->language->getCode(); ?>/"><?php echo $this->_('menu.blog'); ?></a></li>
        </ul>
        <div class="language">
            <a href="<?php echo $urlApp('/app/?idioma=' . $this->language->getCode()); ?>" class="dropdown-toggle acceder" data-toggle="dropdown">
                <span class="sr-only"><?php echo $this->_('menu.acceso'); ?></span>
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <form action="<?php echo $urlApp('/api/usuarios/login?tipo=web-www'); ?>" method="post" id="acceso">
                    <div class="form-group">
                        <label for="nombre" class="sr-only"><?php echo $this->_('acceso.usuario'); ?></label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="<?php echo $this->_('acceso.usuario'); ?>">
                        <label for="clave" class="sr-only"><?php echo $this->_('acceso.clave'); ?></label>
                        <input type="password" class="form-control" id="clave" name="clave" placeholder="<?php echo $this->_('acceso.clave'); ?>">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right"><?php echo $this->_('acceso.acceder'); ?></button>
                    <p class="text-danger text-hidden"
                       data-error-no-nombre="<?php echo $this->_('acceso.errores.no-nombre'); ?>"
                       data-error-no-clave="<?php echo $this->_('acceso.errores.no-clave'); ?>"
                       data-error-incorrecto="<?php echo $this->_('acceso.errores.incorrecto'); ?>"
                       data-error-interno="<?php echo $this->_('acceso.errores.interno'); ?>">&nbsp;</p>
                    <p><a href="<?php echo $urlApp('/app/?lang=' . $this->language->getCode()); ?>#!/acceso"><?php echo $this->_('acceso.recordar'); ?></a></p>
                    <p><a href="<?php echo $urlApp('/sign-up/?tipoAcceso=web-www&lang=' . $this->language->getCode()) . '#!/registro'; ?>" target="_blank"><?php echo $this->_('acceso.registrar'); ?></a></p>
                </form>
            </div>
<?php
if ($this->language->getCode() !== 'es') {
?>
            <a href="/es/"><span class="flag es" title="Español"></span><span class="sr-only">Español</span></a>
<?php
}
if ($this->language->getCode() !== 'en') {
?>
            <a href="/en/"><span class="flag en" title="English"></span><span class="sr-only">English</span></a>
<?php
}
?>
        </div>
    </div>
</div>
<div id="video" class="container-fluid">
    <div class="content">
        <video class="preview" autoplay loop poster="/img/splash-bg.jpg">
            <source src="/video/splash.mp4" type="video/mp4">
        </video>
        <div class="logo">
            <h1 class="text-hide">Cesens<sup>®</sup> <small><?php echo $this->_('agricultura20'); ?></small></h1>
        </div>
        <div class="play-video">
            <a href="#"><span class="glyphicon glyphicon-play"></span><?php echo $this->_('video.ver'); ?></a>
        </div>
    </div>
    <div class="video hidden">
        <video id="video-cesens" class="video-js vjs-default-skin vjs-big-play-centered"
               controls preload="auto"
               data-setup='{"example_option":true}'>
            <source src="<?php echo $animacion[$this->language->getCode()]; ?>" type="video/mp4">
        </video>
    </div>
    <div class="banner">
        <a href="#app">
            <?php echo $this->_('video.banner.texto'); ?>
            <br>
            <span><?php echo $this->_('video.banner.mas-info'); ?></span>
        </a>
    </div>
</div>
<div id="resumen" class="container-fluid">
    <div class="container emphasized">
        <h3><?php echo $this->_('resumen.titulo'); ?></h3>
        <p><?php echo $this->_('resumen.subtitulo'); ?></p>
    </div>
    <div class="summary">
        <div class="container-fluid intro">
            <div class="container">
                <h3><?php echo $this->_('resumen.intro.titulo'); ?></h3>
                <p><?php echo $this->_('resumen.intro.texto'); ?></p>
            </div>
        </div>
        <div class="container-fluid stripe-bg hidden-xs hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-push-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="container copy">
            <div class="row">
                <div class="col-md-4 stations">
                    <img src="/img/field.png" alt="<?php echo $this->_('resumen.estaciones.img'); ?>">
                    <h3><?php echo $this->_('resumen.estaciones.titulo'); ?></h3>
                    <p><?php echo $this->_('resumen.estaciones.texto'); ?></p>
                </div>
                <div class="col-md-4 cloud">
                    <img src="/img/cloud.png" alt="<?php echo $this->_('resumen.cloud.img'); ?>">
                    <h3><?php echo $this->_('resumen.cloud.titulo'); ?></h3>
                    <p><?php echo $this->_('resumen.cloud.texto'); ?></p>
                </div>
                <div class="col-md-4 apps">
                    <img src="/img/devices.png" alt="<?php echo $this->_('resumen.apps.img'); ?>">
                    <h3><?php echo $this->_('resumen.apps.titulo'); ?></h3>
                    <p><?php echo $this->_('resumen.apps.texto'); ?></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid interviews">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copy">
                    <h3><?php echo $this->_('entrevistas.titulo'); ?></h3>
                    <p class="tagline"><?php echo $this->_('entrevistas.subtitulo'); ?></p>
                    <p><?php echo $this->_('entrevistas.texto'); ?></p>
                </div>
                <div class="col-md-6">
                    <div class="video">
                        <video id="video-interviews" class="hidden video-js vjs-default-skin vjs-big-play-centered"
                               controls preload="auto"
                               poster="/img/interviews-poster.jpg"
                               data-setup='{"example_option":true}'>
                            <source src="<?php echo $entrevistas[$this->language->getCode()]; ?>" type='video/mp4'>
                        </video>
                        <div class="poster">
                            <div class="overlay">
                                <div class="play-sign"><span class="glyphicon glyphicon-play"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="funciones" class="container-fluid tracking">
        <div class="container emphasized">
            <h3><?php echo $this->_('funciones.titulo'); ?></h3>
            <p><?php echo $this->_('funciones.subtitulo'); ?></p>
        </div>
        <div class="container features">
            <div class="row">
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/pest.png" class="center-block" alt="<?php echo $this->_('funciones.plagas.img'); ?>">
                    <h3><?php echo $this->_('funciones.plagas.titulo'); ?></h3>
                    <p><?php echo $this->_('funciones.plagas.texto'); ?></p>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/watering.png" class="center-block" alt="<?php echo $this->_('funciones.riego.img'); ?>">
                    <h3><?php echo $this->_('funciones.riego.titulo'); ?></h3>
                    <p><?php echo $this->_('funciones.riego.texto'); ?></p>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/tracking.png" class="center-block" alt="<?php echo $this->_('funciones.seguimiento.img'); ?>">
                    <h3><?php echo $this->_('funciones.seguimiento.titulo'); ?></h3>
                    <p><?php echo $this->_('funciones.seguimiento.texto'); ?></p>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/history.png" class="center-block" alt="<?php echo $this->_('funciones.historico.img'); ?>">
                    <h3><?php echo $this->_('funciones.historico.titulo'); ?></h3>
                    <p><?php echo $this->_('funciones.historico.texto'); ?></p>
                </div>
            </div>
        </div>
        <div class="container-fluid station-vineyard">
            <img src="/img/station-vineyard.jpg" class="img-responsive">
        </div>
        <div class="container-fluid emphasized magnifying">
            <h3><?php echo $this->_('funciones.titulo2'); ?></h3>
            <p><?php echo $this->_('funciones.subtitulo2'); ?></p>
        </div>
        <div class="container functionality">
            <div class="row">
                <div class="col-lg-6 clearfix">
                    <img src="/img/alerts.png" class="pull-left" alt="<?php echo $this->_('funciones.alertas.img'); ?>">
                    <h3><?php echo $this->_('funciones.alertas.titulo'); ?></h3>
                    <p><?php echo $this->_('funciones.alertas.intro'); ?></p>
                    <p><?php echo $this->_('funciones.alertas.texto'); ?></p>
                </div>
                <div class="col-lg-6 clearfix">
                    <img src="/img/reports.png" class="pull-right" alt="<?php echo $this->_('funciones.informes.img'); ?>">
                    <h3><?php echo $this->_('funciones.informes.titulo'); ?></h3>
                    <p><?php echo $this->_('funciones.informes.intro'); ?></p>
                    <p><?php echo $this->_('funciones.informes.texto'); ?></p>
                </div>
            </div>
        </div>
    </div>
    <div id="beneficios" class="container-fluid benefits">
        <div class="container emphasized">
            <h3><?php echo $this->_('beneficios.titulo'); ?></h3>
            <p><?php echo $this->_('beneficios.subtitulo'); ?></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="/img/quality.png" class="center-block" alt="<?php echo $this->_('beneficios.calidad.img'); ?>">
                    <h3><?php echo $this->_('beneficios.calidad.titulo'); ?></h3>
                    <p><?php echo $this->_('beneficios.calidad.texto'); ?></p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="/img/saving.png" class="center-block" alt="<?php echo $this->_('beneficios.costes.img'); ?>">
                    <h3><?php echo $this->_('beneficios.costes.titulo'); ?></h3>
                    <p><?php echo $this->_('beneficios.costes.texto'); ?></p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="/img/environment.png" class="center-block" alt="<?php echo $this->_('beneficios.medioambiente.img'); ?>">
                    <h3><?php echo $this->_('beneficios.medioambiente.titulo'); ?></h3>
                    <p><?php echo $this->_('beneficios.medioambiente.texto'); ?></p>
                </div>
            </div>
        </div>
    </div>
    <div id="datos" class="container emphasized">
        <h3><?php echo $this->_('datos.titulo'); ?></h3>
        <p><?php echo $this->_('datos.subtitulo'); ?></p>
    </div>
    <div class="container-fluid numbers">
        <div class="container">
            <div class="row data-counter">
                <div class="cell col-lg-12">
                    <span class="counter"><?php echo number_format($this->meta['numeroDatos'], 0, $this->_('formato.decimal'), $this->_('formato.miles')); ?></span> <?php echo $this->_('datos.recogidos'); ?>
                </div>
            </div>
            <div class="row numbers">
                <div class="cell col-xs-6 col-md-3 tipos">
                    <span class="counter"><?php echo count($this->meta['tiposSensores']); ?></span> <?php echo $this->_('datos.tipos.titulo'); ?>
                </div>
                <div class="cell col-xs-6 col-md-3 directas">
                    <span class="counter"><?php echo count($this->meta['metricasDirectas']); ?></span> <?php echo $this->_('datos.directas.titulo'); ?>
                </div>
                <div class="cell col-xs-6 col-md-3 derivadas">
                    <span class="counter"><?php echo count($this->meta['metricasDerivadas']); ?></span> <?php echo $this->_('datos.derivadas.titulo'); ?>
                </div>
                <div class="cell col-xs-6 col-md-3 modelos">
                    <span class="counter"><?php echo count($this->meta['modelosPredictivos']); ?></span> <?php echo $this->_('datos.modelos.titulo'); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-xs container-fluid lists">
        <div class="container">
            <div class="row">
                <div class="col-md-3 tipos">
                    <h4><?php echo $this->_('datos.tipos.titulo'); ?></h4>
                    <p><?php echo $this->_('datos.tipos.texto'); ?></p>
                    <div class="well">
                        <h4><?php echo $this->_('datos.tipos.lista.titulo'); ?></h4>
                        <p><?php echo $this->_('datos.tipos.lista.texto'); ?></p>
                        <p><a href="#contacto"><?php echo $this->_('datos.tipos.lista.masInfo'); ?></a></p>
                    </div>
                    <div class="well">
                        <h4><?php echo $this->_('datos.tipos.simultaneos.titulo'); ?></h4>
                        <p><?php echo $this->_('datos.tipos.simultaneos.texto', count($this->meta['metricasDirectas'])); ?></p>
                    </div>
                </div>
                <div class="col-md-3 directas">
                    <h4><?php echo $this->_('datos.directas.titulo'); ?></h4>
                    <p><?php echo $this->_('datos.directas.texto'); ?></p>
                    <ul class="list-group">
                        <?php
                        foreach ($this->meta['metricasDirectas'] as $item) {
                            ?>
                            <li class="list-group-item"><?php echo $item; ?></li>
                            <?php
                        }
                        ?>
                    </ul>
                </div>
                <div class="col-md-3 derivadas">
                    <h4><?php echo $this->_('datos.derivadas.titulo'); ?></h4>
                    <p><?php echo $this->_('datos.derivadas.texto'); ?></p>
                    <ul class="list-group">
                        <?php
                        foreach ($this->meta['metricasDerivadas'] as $item) {
                            ?>
                            <li class="list-group-item"><?php echo $item; ?></li>
                            <?php
                        }
                        ?>
                    </ul>
                </div>
                <div class="col-md-3 modelos">
                    <h4><?php echo $this->_('datos.modelos.titulo'); ?></h4>
                    <p><?php echo $this->_('datos.modelos.texto'); ?></p>
                    <ul class="list-group">
                        <?php
                        foreach ($this->meta['modelosPredictivos'] as $item) {
                            ?>
                            <li class="list-group-item"><?php echo $item; ?></li>
                            <?php
                        }
                        ?>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container emphasized">
            <h3><?php echo $this->_('datos.mas.titulo'); ?></h3>
            <p><?php echo $this->_('datos.mas.subtitulo'); ?></p>
            <p><a class="block" href="#contacto"><?php echo $this->_('datos.mas.contacta'); ?></a></p>
        </div>
    </div>
</div>
<div id="clientes" class="container-fluid">
    <div class="emphasized">
        <h3><?php echo $this->_('clientes.titulo'); ?></h3>
        <p><?php echo $this->_('clientes.subtitulo'); ?></p>
        <div class="visible-xs visible-sm" id="clientes-lista-xs">
            <div class="lista">
<?php
/** @var \Encore\Cesens\Web\Model\Cliente $cliente */
foreach ($this->meta['clientes'] as $cliente) {
?>
                <div class="container">
                    <div class="center-block bodega">
<?php
    if (!empty($cliente->getUrl())) {
?>
                        <a href="<?php echo $this->escape($cliente->getUrl()); ?>" target="_blank">
<?php
    }
?>
                            <img src="/img/bodegas/<?php echo $cliente->getId(); ?>-foto.png" class="img-responsive center-block" alt="<?php echo $this->escape($cliente->getNombre()); ?>">
                            <img src="/img/bodegas/<?php echo $cliente->getId(); ?>-logo.png" class="img-responsive center-block" alt="Logo - <?php echo $this->escape($cliente->getNombre()); ?>">
<?php
    if (!empty($cliente->getUrl())) {
?>
                        </a>
<?php
    }
?>
                    </div>
                </div>
<?php
}
?>
            </div>
        </div>
        <div class="hidden-xs hidden-sm" id="clientes-lista">
            <div class="lista">
<?php
$i = 0;
$bodegasAgrupadas = [];
foreach ($this->meta['clientes'] as $cliente) {
    $index = intval($i / 6);
    $index2 = intval($i / 3);
    $bodegasAgrupadas[$index][$index2][] = $cliente;
    $i++;
}
while ($i % 6 !== 0) {
    $index = intval($i / 6);
    $index2 = intval($i / 3);
    $bodegasAgrupadas[$index][$index2][] = null;
    $i++;
}
foreach ($bodegasAgrupadas as $agrupacion1) {
?>
                <div class="grupo">
<?php
    foreach ($agrupacion1 as $i => $agrupacion2) {
?>
                    <div class="row linea">
<?php
        foreach ($agrupacion2 as $cliente) {
            if ($cliente === null) {
                echo '<div class="bodega col-sm-4 clearfix" style="height: 404.05px"></div>';
            } else {
?>
                        <div class="bodega col-md-4 clearfix">
<?php
                if (!empty($cliente->getUrl())) {
?>
                            <a href="<?php echo $this->escape($cliente->getUrl()); ?>" target="_blank">
<?php
                }
?>
                                <img src="/img/bodegas/<?php echo $cliente->getId(); ?>-foto.png" class="img-responsive center-block" alt="<?php echo $this->escape($cliente->getNombre()); ?>">
                                <img src="/img/bodegas/<?php echo $cliente->getId(); ?>-logo.png" class="img-responsive center-block" alt="Logo - <?php echo $this->escape($cliente->getNombre()); ?>">
<?php
                if (!empty($cliente->getUrl())) {
?>
                            </a>
<?php
                }
?>
                        </div>
<?php
            }
        }
?>
                    </div>
<?php
    }
?>
                </div>
<?php
}
?>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <div class="container">
        <div class="emphasized">
            <h3><?php echo $this->_('app.titulo'); ?></h3>
            <p><?php echo $this->_('app.subtitulo'); ?></p>
        </div>
        <p><?php echo $this->_('app.texto'); ?></p>
        <div class="container features">
            <div class="row">
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/icono-alertas.png" class="center-block" alt="<?php echo $this->_('app.funciones.alertas.titulo'); ?>">
                    <p><?php echo $this->_('app.funciones.alertas.texto'); ?></p>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/icono-informes.png" class="center-block" alt="<?php echo $this->_('app.funciones.informes.titulo'); ?>">
                    <p><?php echo $this->_('app.funciones.informes.texto'); ?></p>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/icono-prediccion.png" class="center-block" alt="<?php echo $this->_('app.funciones.prediccion.titulo'); ?>">
                    <p><?php echo $this->_('app.funciones.prediccion.texto'); ?></p>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <img src="/img/icono-graficas.png" class="center-block" alt="<?php echo $this->_('app.funciones.graficas.titulo'); ?>">
                    <p><?php echo $this->_('app.funciones.graficas.texto'); ?></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid verde">
        <div class="container">
            <h3><?php echo $this->_('app.estacionesPublicas'); ?></h3>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled">
<?php
foreach ($this->meta['redesPublicas'] as $red) {
?>
                        <li><?php echo $this->escape($red); ?></li>
<?php
}
?>
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <img class="mapa" src="/img/mapa-estaciones-publicas.png" alt="<?php $this->_('app.estacionesPublicas'); ?>">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="emphasized aplicacion">
            <h3><?php echo $this->_('app.registro.titulo'); ?></h3>
            <div class="row">
                <div class="col-sm-6">
                    <p class="titulo"><?php echo $this->_('app.registro.web.titulo') ?></p>
                    <p><?php echo $this->_('app.registro.web.texto') ?></p>
                    <img src="/img/aplicacion-web.png" class="img-responsive">
                    <p class="boton">
                        <a class="block" href="<?php echo $urlApp('/sign-up/?tipoAcceso=web-www&lang=' . $this->language->getCode() . '#!/registro') ?>" target="_blank">
                            <?php echo $this->_('app.registro.web.boton') ?>
                        </a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="titulo"><?php echo $this->_('app.registro.movil.titulo') ?></p>
                    <p><?php echo $this->_('app.registro.movil.texto') ?></p>
                    <img src="/img/aplicacion-moviles.png" class="img-responsive">
                    <p class="disponible-en">
                        <a href="https://play.google.com/store/apps/details?id=com.encore_lab.cesens&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                            <img alt="App Android" src="/img/play-store-<?php echo $this->language->getCode(); ?>.png">
                        </a>
                        <a href="https://itunes.apple.com/es/app/cesens/id1263442022" target="_blank">
                            <img alt="App iOS" src="/img/app-store-<?php echo $this->language->getCode(); ?>.png">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contacto" class="container-fluid">
    <div class="container">
        <div class="emphasized">
            <h3><?php echo $this->_('contacto.titulo'); ?></h3>
            <p><?php echo $this->_('contacto.subtitulo'); ?></p>
        </div>
        <form id="contact-form" class="container" data-url="contact.html" data-method="post"
              data-success-title="<?php echo $this->_('contacto.exito.titulo'); ?>"
              data-success-text="<?php echo $this->_('contacto.exito.texto'); ?>"
              data-error-title="<?php echo $this->_('contacto.error.titulo'); ?>"
              data-error-text="<?php echo $this->_('contacto.error.texto'); ?>">
            <div class="row">
                <div class="form-group col-lg-6 floating-label-form-group">
                    <label for="contact-form_name"><?php echo $this->_('contacto.nombre'); ?></label>
                    <input data-name="name" id="contact-form_name" class="form-control" placeholder="<?php echo $this->_('contacto.nombre'); ?>">
                </div>
                <div class="form-group col-lg-6 floating-label-form-group">
                    <label for="contact-form_email"><?php echo $this->_('contacto.email'); ?></label>
                    <input data-name="email" id="contact-form_email" class="form-control" placeholder="<?php echo $this->_('contacto.email'); ?>">
                </div>
            </div>
            <div class="form-group floating-label-form-group">
                <label for="contact-form_message"><?php echo $this->_('contacto.mensaje'); ?></label>
                <textarea data-name="message" id="contact-form_message" placeholder="<?php echo $this->_('contacto.mensaje'); ?>" class="form-control" rows="1"></textarea>
            </div>
            <div class="buttons">
                <button class="btn btn-default" type="submit" data-loading="<?php echo $this->_('contacto.enviando'); ?>..." data-submit="<?php echo $this->_('contacto.enviar'); ?>"><?php echo $this->_('contacto.enviar'); ?></button>
            </div>
        </form>
    </div>
    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body panel-heading">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container credits">
        <p>Cesens <?php echo $this->_('creditos.productoDe'); ?> <a class="encore-logo" href="http://www.encore-lab.com/" target="_blank"><img src="/img/encore-credits.png" alt="Encore Lab"></a></p>
        <p class="copyright">&copy;<?php echo date('Y'); ?> Encore Lab, S.L. - <?php echo $this->_('creditos.derechos'); ?></p>
    </div>
</div>
