<?php
$baseUri = 'http' . (isset($_SERVER['HTTPS']) ? 's' : '') . '://' . $_SERVER['HTTP_HOST'];
?>
<!DOCTYPE html>
<html lang="<?php echo $this->language->getCode(); ?>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="<?php echo $this->_('meta.keywords'); ?>">
    <meta name="description" content="<?php echo $this->_('meta.description'); ?>">
    <title><?php echo !empty($this->title) ? $this->title : 'Cesens®'; ?></title>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="<?php echo $baseUri; ?>/es/">
    <link rel="alternate" hreflang="en" href="<?php echo $baseUri; ?>/en/">
    <link rel="alternate" hreflang="es" href="<?php echo $baseUri; ?>/es/">
<?php
$styles = [
    'https://fonts.googleapis.com/css?family=Catamaran:300,500,100',
    '/css/bootstrap.css',
    '/vendor/video.js/dist/video-js.min.css',
    '/vendor/lightslider/dist/css/lightslider.min.css',
    '/css/styles.css',
];
foreach ($styles as $style) {
    $file = dirname(__DIR__) . '/public' . $style;
    if (!filter_var($style, FILTER_VALIDATE_URL) && is_file($file)) {
        $style .= '?' . filemtime($file);
    }
?>
    <link href="<?php echo $style; ?>" rel="stylesheet">
<?php
}

$scripts = [
    '/vendor/jquery/dist/jquery.min.js',
    '/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js',
    '/vendor/smoothscroll-for-websites/SmoothScroll.js',
    '/vendor/video.js/dist/video.min.js',
    '/vendor/bootstrap-floating-labels/floating-labels.js',
    '/vendor/lightslider/dist/js/lightslider.min.js',
    '/js/scripts.js',
];
foreach ($scripts as $script) {
    $file = dirname(__DIR__) . '/public' . $script;
    if (!filter_var($script, FILTER_VALIDATE_URL) && is_file($file)) {
        $script .= '?' . filemtime($file);
    }
?>
    <script src="<?php echo $script; ?>"></script>
<?php
}
?>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-817773462"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-54269832-2', 'auto');
        ga('send', 'pageview');

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-817773462');
    </script>
</head>
<body class="lang-<?php echo $this->language->getCode(); ?>">
<?php echo $this->getContent(); ?>
</body>
</html>
